
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles  */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
color: #FD6E0A;

}
.dark-01{
color: #181818;
}
.dark-02{
color: #474747;
}
.btn-primary{
    background-color:#FD6E0A ;
    border-radius: 5px;
    padding: 18px 35px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border: none;

}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
  
}
.section-description{
color: #757575;
font-size:18px ;
font-weight: 200;

}
/* header styles */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/*  nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li { 
    list-style: none;
    margin-right: 50px;
    font-size: medium;
}
nav ul li a {
    text-decoration: none;
    text-decoration-color: ;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-weight: 500;
    font-size: 45px;
}
.banner-title{
    font-weight:bol ;
    font-size: 85px;
}
.img-profile-pic{
    width: 580px;
}
/* main styles  */
main{max-width: 1140px;
    margin: 0 auto;
    

}
/* about me styles */
.about-me{
    padding: 131px 177px 131px 136px;
    text-align: center;
    margin: 130px;
    border-radius: 10px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
font-weight: bold;
}




